---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<style>
  /* Adjust the font size for the entire page */
  body {
    font-size: 14px; /* Change this value to the desired font size */
  }

  /* Adjust the font size for specific elements */
  p, a, .archive-title {
    font-size: 16px; /* Change this value to the desired font size */
  }
</style>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
